.footer {
  width: 100%;
  background-color: #333;
  height: 6rem;
  z-index: 10;
  bottom: 0;
  display: flex;
  padding: 0;
}

#footer_container {
  width: 96%;
  bottom: 0;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

/* Responsive footer */
@media screen and (max-width: 480px) {
  #footer_container {
    flex-direction: column;
    align-items: center;
  }
}

#copy-right {
  color: #fff;
  width: fit-content;
}

#logo_container {
  width: 20%;
  display: flex;
  align-items: start;
}

.logo {
  color: #fff;
  font-size: x-large;
  margin-right: 20%;
}
