.experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-top: 3%;
  border-style: solid;
  border-radius: 1rem;
  border-width: thin;
  border-color: lightgray;
  padding: 2%;
  align-self: center;
  transition: box-shadow 0.3s ease-in-out;
}

.experience:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.company-logo {
  width: 10rem;
}

#company-info {
  display: flex;
  flex-direction: row;
}

.company-website {
  font-size: large;
  color: #575866;
  margin-left: 2%;
}

.company-name {
  color: #575866;
  width: fit-content;
}

.experience-info {
  width: 100%;
  margin-left: 5%;
}

#experience-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-duration {
  height: fit-content;
  display: inherit;
  align-self: center;
  font-size: medium;
  font-weight: bold;
  background-color: inherit;
}

.experience-description {
  text-align: left;
}
