.experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-top: 3%;
  border-style: solid;
  border-radius: 1rem;
  border-width: thin;
  border-color: lightgray;
  padding: 2%;
  align-self: center;
  transition: box-shadow 0.3s ease-in-out;
}

.experience:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#company-info {
  display: flex;
  flex-direction: row;
}

.company-website {
  font-size: large;
  color: #575866;
  margin-left: 2%;
  margin-right: 2%;
}

.company-name {
  color: #575866;
  width: fit-content;
  text-align: left;
}

.experience-info {
  width: 100%;
  margin-left: 5%;
}

.experience-duration {
  height: fit-content;
  display: inherit;
  align-self: center;
  font-size: medium;
  font-weight: bold;
  background-color: inherit;
}

.experience-description {
  text-align: left;
  font-size: small;
}

@media screen and (max-width: 480px) {
  .experience {
    flex-direction: column;
  }

  .role {
    text-align: center;
  }

  #experience-main-info {
    display: flex;
    flex-direction: column;
  }

  .company-name {
    text-align: center;
  }

  #company-info {
    flex-direction: column;
    align-content: center;
    display: contents;
  }

  .company-logo {
    width: 5rem;
  }
}

@media screen and (min-width: 780) {
  #experience-main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .company-logo {
    width: 8rem;
  }

  .role {
    text-align: left;
  }
}
