@media screen and (max-width: 1500px) and (max-height: 1500px) {
  * {
    font-family: "Inter", Helvetica, sans-serif;
    position: relative;
  }

  a {
    text-decoration: none;
  }

  header {
    border-top: 0px solid !important;
    position: fixed;
    background: rgb(238, 218, 170);
    box-shadow: rgb(238, 218, 170);
    height: 5%;
    width: 100%;
  }

  #site-name {
    color: black !important;
    left: 1%;
  }

  #navigator {
    display: inline-block;
    list-style: none;
    right: 10px;
  }

  #navigator li {
    display: inline-block;
    margin-left: 20px;
    bottom: 5px;
  }

  body{
    width: 100%;
  }

  .title {
    color: rgb(255, 123, 0) !important;
  }

  .link {
    color: rgb(255, 138, 29);
  }

  .icon {
    max-width: 30px;
    max-height: 30px;
  }

  h4 {
    color: rgb(255, 138, 29);
  }

  li {
    display: list-item;
  }

  footer {
    align-items: center;
    text-align: center;
    display: block;
  }
}
