@media screen and (max-width: 1500px) and (max-height: 1500px) {
  * {
    font-family: "Inter", Helvetica, sans-serif;
    position: relative;
  }

  a {
    text-decoration: none;
  }

  #header-nav {
    position: sticky !important;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 9999;
  }

  header {
    border-top: 0px solid !important;
    position: fixed;
    background: rgb(238, 218, 170);
    box-shadow: rgb(238, 218, 170);
    height: 8%;
    width: 100%;
    align-items: center;
  }

  #site-name {
    color: black !important;
    display: inline-block;
    float: left;
  }

  #navigator {
    display: inline-block;
    list-style: none;
    float: right;
  }

  #navigator li {
    display: inline-block;
    margin-left: 1%;
    margin-right: 0.5%;
    text-rendering: optimizeLegibility;
  }

  body {
    width: 100%;
    position: relative;
  }

  .title {
    color: rgb(255, 123, 0) !important;
  }

  .link {
    color: rgb(255, 138, 29);
  }

  .icon {
    max-width: 30px;
    max-height: 30px;
  }

  strong {
    color: rgb(255, 138, 29);
  }

  li {
    display: list-item;
  }

  #sublist {
    list-style: inside;
  }

  footer {
    align-items: center;
    text-align: center;
    display: block;
  }
}
