/*
Red Orange: #9F2B00
Orange: #D37506
Peter: #D3D3CB
Taupe: #ADA7A7
*/


/*
media query:
320 - 480px for small phones such as iPhone 6, 7, and 5
478 - 768px for Tablets and iPads
1025 - 1200px for desktops and large screens
*/

@media screen and (max-device-width: 2000px) and (max-device-height: 2000px) {
    * {
        font-family: "Inter", Helvetica, sans-serif;
        position: relative;
        scroll-behavior: smooth;
    }
    a {
        text-decoration: none;
    }
    #navigator {
        display: flex;
        overflow: hidden;
        z-index: 9999;
        position: fixed;
        background: #3d4249;
        height: 8%;
        width: 100%;
        align-items: center;
    }
    #site-name {
        color: #cbd2d9 !important;
        display: inline-block;
        left: 2%;
        float: left;
    }
    #list-navigator {
        float: center !important;
        text-align: right;
        width: 100%;
        position: absolute;
        right: 2%;
        display: inline;
        list-style: none;
        justify-content: end !important;
    }
    #navigator li {
        display: inline-flex;
        margin-left: 1%;
        margin-right: 1%;
        text-rendering: optimizeLegibility;
    }
    #navigator li a {
        color: #cbd2d9 !important;
    }
    body {
        width: 100%;
        align-items: center;
        padding-left: 0%;
        padding-top: 0%;
        margin-top: 0%;
        margin-left: 0%;
        background-color: #6f8191;
    }
    #main-content {
        border-radius: 2em;
        padding-left: 20em;
        padding-right: 20em;
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .title {
        color: #f2630d;
        font-size: 1.25em;
    }
    .link {
        color: #f2630d;
    }
    .icon {
        max-width: 30px;
        max-height: 30px;
    }
    strong {
        color: #f2630d;
    }
    li {
        display: list-item;
    }
    #skills ul,
    #experiences ul {
        list-style: none;
    }
    .sublist {
        list-style: inside !important;
    }
    .sublist li {
        margin-bottom: 1%;
        margin-top: 1%;
    }
    footer {
        align-items: center;
        text-align: center;
        display: block;
        color: #cbd2d9;
    }
}