* {
    font-family: "Inter", Helvetica, sans-serif;
    position: relative;
}

.link {
    color: rgb(0, 119, 255);
}

#contact {
    color: rgb(0, 119, 255);
}

footer {
    align-items: center;
    text-align: center;
    display: block;
}